@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..800;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');
@import "tailwindcss";


@theme {
  
  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-robotos: "Roboto Slab", sans-serif; 
  --font-assistant: "Assistant",sans-serif;
  
  --color-inputGreen: #F4F8F5;
  --color-lamaSky: #508bcd;
  --color-lamaSkyLight: #EDF9FD;
  --color-lamaPurple: #CFCEFF;
  --color-lamaPurpleLight: #F1F0FF
  --color-lamaYellows: #198d8d;
  --color-lamaYellow: #FFFFFF;
  --color-lamaYellowLight: #FEFCE8;
  --color-lamaTeal: #069494;
  --color-lamaWhite: #FFFF;
  --color-novusWhite: #F5FEFD;
  --color-textBlue :  #268098;
  --color-lightGreen :#3e6c61;
  --color-lightBlue :#e6eaef;
  --color-error: #940638;
  --color-warning: #824703;
  --text-Lightgray :  #a0aec0;


}
:root {
  scroll-behavior: smooth;
  font-family: var(--font-inter);
}



